@if (User.Identity.IsAuthenticated)
{
    <p class="navbar-text">Hello, @User.Identity.Name</p>
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
    </ul>
}
