<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITCService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51468/TCService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITCService" contract="WCFTCService.ITCService"
                name="BasicHttpBinding_ITCService" />
        </client>
    </system.serviceModel>
</configuration>